.TemperatureShowcaseParentDiv {
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	min-width: 100%;
	min-height: 100%;
	flex-direction: column;
	align-items: center;
}
.TemperatureShowcaseParentDiv.light {
	background-color: white;
	color: black;
}
.TemperatureShowcaseParentDiv.dark {
	background-color: black;
	color: white;
}
.TemperatureCard {
	background-color: #e3e2e1;
	width: min(95vw, 500px);
	border-radius: 10px;
	height: 85vh;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    border: 5px solid;
}
.TemperatureCard.light {
	background-color: #e3e2e1;
	border-color: black;
}
.TemperatureCard.dark {
	background-color: #383838;
	border-color: white;
}

.TemperatureDisplay {
	width: 35vh;
    height: 35vh;
    background-color: #ad283a; 
    box-sizing: border-box;
    border-radius: 50%; /* Make it a circle */
	font-size: 60px;
	color: white;
	white-space: nowrap;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 5px solid;
}

.TemperatureDisplay.light {
	border-color: black;
}
.TemperatureDisplay.dark {
	border-color: white;
}

.TemperatureText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.TemperatureButton {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 40%;
	background-color: #3d0d14;
	color: white;
	border-radius: 10%;
	height: 50px;
	font-size: 45px;
	border: 3px solid;
	padding: 0;
  font-family: 'Roboto'; /* Use Roboto font */
}
.TemperatureButton.light {
	background-color: #3d0d14;
	border-color: black;

}
.TemperatureButton.dark {
	background-color: #d1263f;
	border-color: white;

}
.TemperatureButton:active {
  transform: translate(0.5px, 0.5px); /* Move the button down by 2 pixels when pressed */
}
.TemperatureButtons {
	width: 60%;
	height: 20vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.TemperatureLocationName {
	font-size: 3rem;
	margin: auto;
}
.TemperatureComparisonText {
	font-size: 2rem;
	margin: auto;
	text-align: center;
	white-space: nowrap;
}
.TemperatureComparisonDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	height: 25vh;
	border-radius: 5px;
	background-color: #b5cef5;
	box-sizing: border-box;
}
.TemperatureComparisonDiv.light {
	background-color: #b5cef5;

}
.TemperatureComparisonDiv.dark {
	background-color: #39414d;

}

.TemperatureToggleButton {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background-color: #3d0d14;
	font-size: 20px;
	border: 0;
	color: white;
	padding: 0;
}
.TemperatureToggleButton.light {
	background-color: #3d0d14;


}
.TemperatureToggleButton.dark {
	background-color: #d1263f;


}
.TemperatureToggleButton:active {
  transform: translate(0.5px, 0.5px); /* Move the button down by 2 pixels when pressed */
}
