.PollingParentDiv {
	display: flex;
	min-width: 100%;
	min-height: 100%;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}
.PollingParentDiv.light {
	background-color: white;
}
.PollingParentDiv.dark {
	background-color: black;
}

.file-tab {
	cursor: pointer;
	user-select: none;
	width: max(15vw, 100px);
	height: 5vh;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 5px;
	margin-bottom: 0;
	font-size: 1.3rem;
}
.PollingWindow {
	width: max(95vw, 350px);
}
.poll-list-window {
	min-height: 200px;
	border-radius: 10px;
}
.PollingTabsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.file-tab-small {
	cursor: pointer;
	user-select: none;
	width: max(13vw, 90px);
	height: 3vh;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 10px;
	margin-bottom: 0;
	background-color: black;
	color: white;
	text-align: center;
	border-top: 10px solid white;
}
.active-file-tab {
	border-top: 10px solid blue;
}
.poll-container {
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 95%;
	border: 2px solid;
	border-radius: 10px;
	align-items: center;
}
.poll-container.light {
	color: black;
	border-color: black;
	background-color: white;
}
.poll-container.dark {
	color: white;
	border-color: white;
	background-color: black;

}
.options-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 10px;
}
.option-container {
	position: relative;
  background-color: #0A7591;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
  height: 25vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.option-container.selected {
  background-color: #3498db;
  color: #ffffff;
}
.option-container:first-child {
	margin-left: 10px;
}
.option-container:last-child {
	margin-right: 10px;
}
.option-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.option-text {
  text-align: center;
}
.submit-button {
  position: absolute;
  bottom: 0;
}
