html {
	font-size: 62.5%;
}

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


body {
	padding: 1rem;
	box-sizing: border-box;
	max-width: 100vw;
	background-color: #f7f7f7;
}

.App {
	max-width: 100%;
}
