.btn {
	&:link, 
	&:visited {
		display: inline-block;
		padding: 1rem 6rem;
		border-radius: 10rem;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.2s ease-in-out;
		position: relative;
	}

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 1rem 2rem rgba(23, 3, 8, 0.8);
		
		&::after {
			transform: scaleX(1.4) scaleY(2);
			opacity: 0;
		}
	
	}
	&:active {
		transform: translateY(-2px);
		box-shadow: 0 .5rem rem rgba(23, 3, 8, 0.8);
	}

	&--white {
		background-color: #fff;
		color: #777;
		&::after {
			background-color: #fff;
		}
	}

	&--animation-up {
		animation: FadeInBottom 1s ease-out 0.75s;
		animation-fill-mode: backwards;
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		transition: all 0.5s;
		opacity: 1;
	}

}
