@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.HomeButtons {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: fixed;
	bottom : 10px;
	right: 10px;
	z-index: 1000;
}

.ThemeButton {
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	border: 1px solid #007bff;
	padding: 0px 15px;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease; 
	cursor: pointer; 
	font-family: 'Roboto';
	height: 4vh;
	font-size: 2vh;
}

.ThemeButton:hover {
  background-color: #0056b3;
  border-color: #0056b3; 
}

.back-button {
	margin-top: 5px;
	display: inline-block;
	padding: 5px 15px;
	background-color: #007bff;
	color: #fff;
	border: 1px solid #007bff;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease; 
	font-family: 'Roboto'; 
	height: 4vh;
	font-size: 2vh;
	text-align: center;
	box-sizing: border-box;
}

.back-button:hover {
  background-color: #0056b3;
  border-color: #0056b3; 
}

.ParentDiv {
	position: absolute;
	min-width: 100%;
	top: 0;
	left: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ParentDiv.light {
	background-color: white;
}
.ParentDiv.dark {
	background-color: black;
}

.HomeTitle {
	text-align: center;
}
.HomeTitle.light {
	color: black;
}
.HomeTitle.dark {
	color: white;
}

.LinksContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90vw;
}

.Links {
	height: 100px;
	width: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid;
	border-radius: 5px;
	text-decoration: none;
	margin: 10px;
}
.Links.light {
	border-color: black;
	color: white;
	background-color: grey;
}
.Links.dark {
	border-color: white;
	color: black;
	background-color: grey;
}

.containerSig {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	flex-direction: column;
}

.hide-nav {
	display: none;
}
.mg-20 {
	margin: 20px;
}
.h-container {
	display: flex;
	flex-direction: horizontal;
		align-items: center;
	justify-content: center;
}
.ind-container {
	position: absolute;
}
.d-flex{
	display: flex;
}
.text-center {
	text-align: center;
}

.subtitle{
	font-size: 2.5rem;
	font-weight: 400;
}
.title {
	font-size: 3.5rem;
	font-weight: 100;
}
.title-main {
	font-size: 5rem;
	font-weight: 600;
}

.text-primary {
	color: #7633f9;
}
.nav-btn {
  background-color: #000000; /* Background color */
  border: none; /* Remove border */
  border-radius: 50%; /* Make it round */
  color: #FFFFFF; /* Text color */
  font-size: 16px; /* Adjust font size */
  padding: 10px; /* Adjust padding */
  cursor: pointer; /* Change cursor on hover */
    margin-top: 10px;

}

.nav-btn:hover {
  background-color: #42632D; /* Darker background color on hover */
}

.nav-btn i {
  /* Adjust the size and style of the arrow icon */
  font-size: 16px;
}

/* Additional styles to adjust spacing between the buttons */
.nav-btn + .nav-btn {
  margin-left: 10px; /* Add some space between the buttons */
}


/* Default button style */
.btn-1 {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
}
.btn-2 {
  background-color: #000000; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
}
/* Disabled button style */
.btn-1:disabled {
  background-color: #cccccc; /* Grey background */
}

.card {
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	border-radius: 8px;
	padding: 20px; 
	border: 1px solid black;
	margin-bottom: 20px;
	text-align: left;
	margin-top: 20px;
	width: min(600px, 85vw);
}

.container {
	display: flex;
}
.justify-content {
	justify-content: space-between;
}
.justify-center {
	justify-content: center;
}
.flex-col {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
.align-c {
	align-items: center;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease; /* Adjust the duration and timing function as needed */
}
.underline {
	text-decoration: underline;
}
.text-box-1 {
	border: none;
	border-bottom: 2px dotted;
	outline: none;
	margin: 10px 10px;
}
.fs-1 {
	font-size: max(3.5rem, 4vh);
}
.fs-2 {
	font-size: max(2.5rem, 3vh);
}
.fs-3 {
	font-size: max(1.5rem, 2vh);
}


